@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@500&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}
body {
  border: 0;
  outline: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Rubik", sans-serif;
}

.p_text {
  color: #8c8c8c;
}
.btn_color {
  color: #d9d9d9;
}

.text_h {
  /* font-size: 10vmin; */
  line-height: normal;
}
.mobile_view {
  transform: translateX(120%);
  transition: all 0.5s ease-in-out;
  background: #00000091;
}
.open_navtoggle {
  transform: translateX(0%);
  /* z-index: 1000;    */
}

.dropdown {
  position: relative;
  transition: all 0.6s ease-in-out;
}

/* Style the dropdown button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown_content {
  display: none;
  padding: 22px;
  width: fit-content;
  right: 0;
  min-width: calc(fit-content + 10px);
}
.lg_dropdown_content {
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.dropdown_content a {
  color: #8c8c8c;
  width: 100%;
  display: inline-flex;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown_content {
  display: flex;
}
.dropdown:hover .icon_img {
  transform: rotate(180deg);
}
